* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
.CodeMirror {
  max-height: 90%;
}
.toolbar {
  bottom: 0;
  position: fixed;
}